# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment files
# =========================
.env
.env.local

# =========================
# Database files
# =========================
database.db
*.sqlite
*.sqlite3

# =========================
# Build folders
# =========================
dist/
build/
frontend/dist/
frontend/build/

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Temporary files
# =========================
tmp/
temp/
